@media screen and (min-width: 768px) {
header {
  flex-wrap: nowrap;
}

#menu {
  display: none; /* hide menu button on larger screens */
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.navigation li {
  margin: 0;
}

/* Main grid layout */
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

main figure {
  margin: 0;
}
main img {
  height: 200px;
  object-fit: cover;
}
}
